<div id="asesorias" class="w-full max-w-6xl mx-auto"  x-intersect="activeStep = 'spy-3'">
  <div class="p-6 md:p-10 rounded-2xl bg-muted-200 dark:bg-muted-900">
    <div class="grid md:grid-cols-2 ltablet:grid-cols-3 lg:grid-cols-3 gap-6">
      <div class="ptablet:hidden">
        <div class="h-full flex items-center">
          <div class="font-sans md:px-4">
            <h3 class="text-2xl mb-3 text-muted-800 dark:text-muted-100">¿Qué temas podremos ver juntas?</h3>
              <ul class="pb-4 space-y-1 text-muted-400">
                  <li class="flex items-center">
                      <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                      <span class="font-sans text-sm">Preparación durante el embarazo</span>
                  </li>
                  <li class="flex items-center">
                      <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                      <span class="font-sans text-sm">Primeras horas postparto</span>
                  </li>
                  <li class="flex items-center">
                      <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                      <span class="font-sans text-sm">Primeras 24 hs</span>
                  </li>
                  <li class="flex items-center">
                      <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                      <span class="font-sans text-sm">Cuidado de los pechos</span>
                  </li>
                  <li class="flex items-center">
                      <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                      <span class="font-sans text-sm">Libre demanda</span>
                  </li>
                  <li class="flex items-center">
                      <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                      <span class="font-sans text-sm">Uso de tetitas y otros dispositivos</span>
                  </li>
                  <li class="flex items-center">
                      <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                      <span class="font-sans text-sm">Entre otros temas</span>
                  </li>
              </ul>
            <!--Link-->
            <a
              href="https://wa.link/oizt1y"
              class="group inline-flex items-center gap-4 text-primary-500 hover:text-primary-400 transition-colors duration-300"
            >
              <span class="font-sans font-medium text-sm">
                Más información
              </span>
              <iconify-icon class="iconify w-4 h-4 group-hover:translate-x-1 transition-transform duration-300" icon="lucide:arrow-right"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- Pricing option -->
      <div>
        <div
          class="w-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300"
        >
          <div class="flex items-center -mt-2">

            <h3
              class="font-heading text-2xl font-medium text-muted-800 dark:text-white"
            >
                Asesoría en Lactancia Materna
            </h3>
          </div>

          <p
            class="font-sans text-sm py-2 mt-1 text-muted-500 dark:text-muted-400"
          >
              Acompañar lactancias libres, informadas, elegidas y posibles, es mí trabajo. Donde ustedes son los protagonistas siempre.
          </p>
          <div class="flex items-center mt-2 mb-4">
            <h4
              class="font-heading font-semibold text-muted-800 dark:text-white mr-4"
            >
              Características
            </h4>

          </div>
          <ul class="pb-4 space-y-1 text-muted-400">
            <li class="flex items-center">
              <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
              <span class="font-sans text-sm">Duración 1 hs</span>
            </li>
            <li class="flex items-center">
              <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
              <span class="font-sans text-sm">Virtual por Google Meet</span>
            </li>
            <li class="flex items-center">
              <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
              <span class="font-sans text-sm">Presencial según zona de residencia</span>
            </li>
              <li class="flex items-center">
                  <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                  <span class="font-sans text-sm">Acompañamiento posterior</span>
              </li>
              <li class="flex items-center">
                  <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                  <span class="font-sans text-sm">Material de lectura</span>
              </li>
          </ul>
          <a
            href="https://wa.link/oizt1y"
            class="block w-full text-sm text-center font-sans my-2 py-4 font-medium text-primary-600 hover:text-muted-100 hover:bg-primary-500 hover:shadow-lg hover:shadow-primary-500/30 rounded-lg border border-primary-600/25 transition-all duration-300"
          >
            Más información
          </a>

        </div>
      </div>
      <!-- Pricing option -->
      <div>
        <div
          class="w-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300"
        >
          <div class="flex items-center -mt-2">

            <h3
              class="font-heading text-2xl font-medium text-muted-800 dark:text-white"
            >
                Acompañamiento como Doula
            </h3>
          </div>

          <p
            class="font-sans text-sm py-2 mt-1 text-muted-500 dark:text-muted-400"
          >
             Te acompaño el tiempo que lo necesites, desde el sostén, la escucha amorosa y la información necesaria.
          </p>
            <div class="flex items-center mt-2 mb-4">
                <h4
                        class="font-heading  font-semibold text-muted-800 dark:text-white mr-4"
                >
                    Características
                </h4>

            </div>
            <ul class="pb-4 space-y-1 text-muted-400">
                <li class="flex items-center">
                    <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                    <span class="font-sans text-sm">Duración 1 hs</span>
                </li>
                <li class="flex items-center">
                    <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                    <span class="font-sans text-sm">Virtual por Google Meet</span>
                </li>
                <li class="flex items-center">
                    <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                    <span class="font-sans text-sm">Presencial según zona de residencia</span>
                </li>
                <li class="flex items-center">
                    <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                    <span class="font-sans text-sm">Acompañamiento posterior</span>
                </li>
                <li class="flex items-center">
                    <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                    <span class="font-sans text-sm">Material de lectura</span>
                </li>
            </ul>
          <a
            href="https://wa.link/oizt1y"
            class="block w-full text-sm text-center font-sans my-2 py-4 font-medium text-primary-600 hover:text-muted-100 hover:bg-primary-500 hover:shadow-lg hover:shadow-primary-500/30 rounded-lg border border-primary-600/25 transition-all duration-300"
          >
            Más información
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div id="pricing2" class="w-full max-w-6xl mx-auto"  x-intersect="activeStep = 'spy-3'">
    <div class="p-6 md:p-10 rounded-2xl bg-muted-200 dark:bg-muted-900">
        <div class="grid md:grid-cols-2 ltablet:grid-cols-3 lg:grid-cols-3 gap-6">
            <div class="ptablet:hidden">
                <div class="h-full flex items-center">
                    <div class="font-sans md:px-4">
                        <h3 class="text-2xl mb-3 text-muted-800 dark:text-muted-100">Otras asesorías</h3>
                        <p class="mb-3 text-sm text-muted-500 dark:text-muted-400">
                            La mirada integral en la salud perinatal es importantísima. Por ello podemos realizar estás asesorías.
                        </p>
                        <!--Link-->
                        <a
                                href="#"
                                class="group inline-flex items-center gap-4 text-primary-500 hover:text-primary-400 transition-colors duration-300"
                        >
              <span class="font-sans font-medium text-sm">
                Más información
              </span>
                            <iconify-icon class="iconify w-4 h-4 group-hover:translate-x-1 transition-transform duration-300" icon="lucide:arrow-right"></iconify-icon>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Pricing option -->
            <div>
                <div
                        class="w-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300"
                >
                    <div class="flex items-center -mt-2">

                        <h3
                                class="font-heading text-2xl font-medium text-muted-800 dark:text-white"
                        >
                            Asesoría de Cuidado bucal de mamá y bebé
                        </h3>
                    </div>

                    <p
                            class="font-sans text-sm py-2 mt-1 text-muted-500 dark:text-muted-400"
                    >
                        La mirada integral en la salud perinatal es importantísima. Por ello podemos realizar estás asesorías.
                    </p>
                    <div class="flex items-center mt-2 mb-4">
                        <h4
                                class="font-heading font-semibold text-muted-800 dark:text-white mr-4"
                        >
                            Características
                        </h4>
                    </div>
                    <ul class="pb-4 space-y-1 text-muted-400">
                        <li class="flex items-center">
                            <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                            <span class="font-sans text-sm">Duración 1 hs</span>
                        </li>
                        <li class="flex items-center">
                            <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                            <span class="font-sans text-sm">Virtual por Google Meet</span>
                        </li>
                        <li class="flex items-center">
                            <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                            <span class="font-sans text-sm">Material de lectura</span>
                        </li>
                    </ul>
                    <a
                            href="#"
                            class="block w-full text-sm text-center font-sans my-2 py-4 font-medium text-primary-600 hover:text-muted-100 hover:bg-primary-500 hover:shadow-lg hover:shadow-primary-500/30 rounded-lg border border-primary-600/25 transition-all duration-300"
                    >
                        Más información
                    </a>
                </div>
            </div>
            <!-- Pricing option -->
            <div>
                <div
                        class="w-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300"
                >
                    <div class="flex items-center -mt-2">

                        <h3
                                class="font-heading text-2xl font-medium text-muted-800 dark:text-white"
                        >
                            Asesoría en Alimentacion Complementaria
                        </h3>
                    </div>

                    <p
                            class="font-sans text-sm py-2 mt-1 text-muted-500 dark:text-muted-400"
                    >
                        A starter membership to help us build more free products.
                    </p>
                    <div class="flex items-center mt-2 mb-4">
                        <h4
                                class="font-heading font-semibold text-muted-800 dark:text-white mr-4"
                        >
                            Características
                        </h4>
                    </div>
                    <ul class="pb-4 space-y-1 text-muted-400">
                        <li class="flex items-center">
                            <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                            <span class="font-sans text-sm">Duración 1 hs</span>
                        </li>
                        <li class="flex items-center">
                            <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                            <span class="font-sans text-sm">Virtual por Google Meet</span>
                        </li>
                        <li class="flex items-center">
                            <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
                            <span class="font-sans text-sm">Material de lectura</span>
                        </li>
                    </ul>
                    <a
                            href="#"
                            class="block w-full text-sm text-center font-sans my-2 py-4 font-medium text-primary-600 hover:text-muted-100 hover:bg-primary-500 hover:shadow-lg hover:shadow-primary-500/30 rounded-lg border border-primary-600/25 transition-all duration-300"
                    >
                        Más información
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

