---
import Container from "@components/section/Container.astro";
import Logo from "@components/base/Logo.astro";
---

<footer class="font-sans bg-white dark:bg-muted-900">
    <Container>
        <div class="px-5 py-24 mx-auto">
            <div class="flex flex-wrap md:text-left text-center -mb-10 -mx-4">
                <div class="w-full mb-10 ltablet:mb-0 lg:mb-0 ltablet:w-2/6 lg:w-2/6 px-4">
                    <div class="max-w-[280px] mx-auto md:mx-0">
                        <a
                                href="/"
                                class="flex items-center justify-center md:justify-start gap-3 mb-4"
                        >
                            <div class="text-primary-600 transition-all duration-300">
                                <Logo class="'w-9 h-9'"/>
                            </div>
                            <span
                                    class="font-sans tracking-widest uppercase text-muted-800 dark:text-muted-100"
                            >Antonella Gómez</span
                            >
                        </a>
                        <p class="text-sm text-muted-500 dark:text-muted-400 mb-10 md:mb-0">
                            Acompaño mapaternidades y familias desde la panza, durante el puerperio y primera infancia.
                        </p>
                    </div>
                </div>
                <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
                    <h2
                            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
                    >
                        ASESORÍAS
                    </h2>
                    <ul class="list-none space-y-3 mb-10">
                        <li>
                            <a
                                    href="https://wa.link/oizt1y"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Asesoría en Lactancia Materna</a
                            >
                        </li>
                        <li>
                            <a
                                    href="https://wa.link/oizt1y"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Asesoría como Doula</a
                            >
                        </li>
                        <li>
                            <a
                                    href="https://wa.link/oizt1y"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Asesoría de Cuidad bucal de mamá y bebé</a
                            >
                        </li>
                        <li>
                            <a
                                    href="https://wa.link/oizt1y"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Asesoría en Alimentación Complementaria</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
                    <h2
                            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
                    >
                        SITIO
                    </h2>
                    <ul class="list-none space-y-3 mb-10">
                        <li>
                            <a
                                    href="#home"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Inicio</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#asesorias"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Asesorías</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#about"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Sobre Mí</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#testimonios"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Testimonios</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
                    <h2
                            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
                    >
                       IMPORTANTES
                    </h2>
                    <ul class="list-none space-y-3 mb-10">
                        <li>
                            <a
                                    href="https://www.who.int/es"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >OMS</a
                            >
                        </li>
                        <li>
                            <a
                                    href="https://www.paho.org/es"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >PAHO</a
                            >
                        </li>
                        <li>
                            <a
                                    href="https://www.argentina.gob.ar/salud/crecerconsalud/lactancia"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Ministerio de Salud</a
                            >
                        </li>
                        <li>
                            <a
                                    href="https://www.unicef.org/"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >UNICEF</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
                    <h2
                            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
                    >
                        CONTACTO
                    </h2>
                    <ul class="list-none space-y-3 mb-10">
                        <li>
                            <a
                                    href="https://www.linkedin.com/in/ag-salud-perinatal-185719224/"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Linkedin</a
                            >
                        </li>
                        <li>
                            <a
                                    href="https://www.instagram.com/ag.salud.perinatal/"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Instagram</a
                            >
                        </li>
                        <li>
                            <a
                                    href="https://wa.link/oizt1y"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Whatsapp</a
                            >
                        </li>
                        <li>
                            <a
                                    href="mailo:contacto@easp.com.ar"
                                    target="_blank"
                                    class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                            >Email</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </Container>
    <div class="border-t border-muted-200 dark:border-muted-800">
        <Container>
            <div class="px-5 py-8 flex flex-col md:flex-row mx-auto items-center">
                <p
                        class="text-muted-500 dark:text-muted-400 text-sm text-center sm:text-left"
                >
                    © {new Date().getFullYear()} Antonella Gómez. Made with ❤️ by
                    <a
                            href="https://firespace.co/"
                            class="hover:text-primary-500"
                            target="_blank"
                            rel="noopener noreferrer">Firespace Ltd</a
                    >.
                </p>

            </div>
        </Container>
    </div>


</footer>
