---
import MockupOne from "@components/mockup/MockupOne.astro";
---

<div
        id="about"
        class="flex flex-col md:flex-row  py-6"
        x-intersect="activeStep = 'spy-2'"
>
    <!--Column-->
    <div class="w-full md:w-1/2 relative p-6">
        <!--Section content-->
        <div class="w-full max-w-lg space-y-4 lg:pl-10">
            <!--Badge-->
            <h4
                    class="font-sans font-semibold text-xs tracking-widest uppercase mb-3 text-primary-500"
            >
                MI PROCESO
            </h4>
            <!--Title-->
            <h2
                    class="font-heading font-medium text-4xl text-muted-800 dark:text-white"
            >
                ¿Quién soy?
            </h2>
            <!--Subtitle-->
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                Soy Anto Gómez, tengo 31 años y desde que nací estuve rodeada de ciencia, salud y educación, era el pan
                de cada día.
            </p>
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                Estudié odontología en la UNC (Universidad Nacional de Córdoba), Siempre supe que había algo más dentro
                de la odontología, algo más dentro de la salud y algo más profundo que tocaba mi real vocación.

            </p>
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                Trabajé en distintos espacios, en consultorios privados, para obras sociales y prepagas. Fue muy costoso
                comenzar, buscar otros espacios y ciudades para trabajar.
            </p>
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                Estando en una prepaga me desarrolle como odontóloga para niños y desde ese momento trabajo para los
                ellos
                junto a sus familias.
            </p>
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                Trabajé en un hospital ad honorem y ahí seguí aprendiendo de los pequeños y sus familias.
            </p>
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                En el año 2019 nace nuestra pequeña y ese día junto con ella nació una nueva Anto, con un nuevo corazón
                y
                una nueva mirada al mundo.
            </p>
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                Claro que la búsqueda de mi real vocación seguía y cada día le preguntaba a Dios por donde, sin darme
                cuenta estaba llegando a puerto.
            </p>

        </div>
    </div>

    <!--Column-->
    <div class="w-full md:w-1/2 relative p-6">
        <!--Section content-->
        <div class="w-full max-w-lg space-y-4 lg:pl-10">

            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                Transitar el puerperio me fue muy difícil, conocer un mundo nuevo, duelar a mi papá, criar, cuidar,
                deconstruirme. Necesité una red de sostén, donde mi fiel compañero fue clave y mis hermanas de comunidad
                también.
            </p>
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                Aquí es donde conozco el mundo perinatal, la puerta fue el puerperio y ponerme cara a cara con la
                lactancia.
            </p>

            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">

            Comenzó un camino de formación, de estudio y capacitación, en lactancia materna, alimentación
            complementaria, crianza, primera infancia entre otros. Un nuevo mundo nació, una odontología distinta, una
            odontología perinatal, mi amor y pasión por la Salud Perinatal.
            </p>
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
            Tiempo después nace Galujia-Amar&Criar (2020) creciendo a Escuela Argentina de Salud Perinatal (2021),
            espacio donde acompañamos mapaternidades, familias, embarazos, nacimientos, primeras infancias y facilitamos
            formaciones para profesionales de salud y educación que desean seguir capacitándose en esta área.
            </p>
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
            Hoy acompaño a las familias, desde mis servicios fundantes, asesorando en lactancia materna, en alimentación
            complementaria, en cuidado bucal durante el embarazo, postparto, primera infancia y como Doula.
            </p>

            <!--Link-->
            <a
                    href="https://wa.link/oizt1y"
                    class="group inline-flex items-center gap-4 text-primary-500 hover:text-primary-400 transition-colors duration-300"
            >
        <span class="font-sans font-medium text-sm">
          Más información
        </span>
                <iconify-icon class="iconify w-4 h-4 group-hover:translate-x-1 transition-transform duration-300"
                              icon="lucide:arrow-right"></iconify-icon>
            </a>
        </div>
    </div>
</div>
