---
import MockupTwo from '@components/mockup/MockupTwo.astro'
---

<div class="flex flex-col-reverse md:flex-row items-center py-6">
    <!--Column-->
    <div class="w-full md:w-1/2 relative p-6">
        <!--Feature-->
        <img
                src="/img/illustrations/vision.png"
                class="block w-full ltablet:max-w-[540px] max-w-[620px] mx-auto"
                alt="Hero image"
        />
    </div>

    <!--Column-->
    <div class="w-full md:w-1/2 relative p-6">
        <!--Section content-->
        <div class="w-full max-w-lg space-y-4">
            <!--Badge-->
            <h4 class="font-sans font-semibold text-xs tracking-widest uppercase mb-3 text-primary-500">
                AG SALUD PERINATAL
            </h4>
            <!--Title-->
            <h2 class="font-heading font-medium
          text-4xl text-muted-800
          dark:text-white">Mi Visión</h2>
            <!--Subtitle-->
            <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                Que sean cada vez más las familias informadas y confiadas en los procesos fisiológicos que atraviesan
                durante la mapaternidad y la primera infancia. Donde sean escuchados, respetados y acompañados con
                calidez, empatía y desde la evidencia. </p>
            <!--Link-->
            <a href="https://wa.link/oizt1y"  target="_blank" class="group
          inline-flex
          items-center
          gap-4
          text-primary-500
          hover:text-primary-400
          transition-colors
          duration-300">
                <span class="font-sans font-medium text-sm"> Más información </span>
                <iconify-icon class="iconify w-4 h-4 group-hover:translate-x-1 transition-transform duration-300"
                              icon="lucide:arrow-right"></iconify-icon>
            </a>
        </div>
    </div>
</div>
